<div class="contact">
  <h2>Contact</h2>
  <ul>
    <li><span class="li-icon">{% include svg/pin-alt.svg %}</span><span>Sakarya, Turkey</span></li>
    <li><span class="li-icon">{% include svg/phone.svg %}</span><span>+90 545 2588774 </span></li>
    <li><span class="li-icon">{% include svg/mail.svg %}</span><a href="mailto:nurbanukahraman7@gmail.com">mailto:nurbanukahraman7@gmail.com"</a></li>
    <li><span class="li-icon">{% include svg/internet.svg %}</span><a href="https://nkahraman.github.io/">https://nkahraman.github.io/</a></li>
  </ul>
</div>
